MA-scrape:
  image: openstates/scrapers
  entrypoint: "poetry run os-update ma bills sort=latest page_limit=20 --realtime"
  enabled: true
  environment: scrapers
  triggers:
#    - cron: 0 */6 * * ?
    - cron: 0 5 * * ?
  timeout_minutes: 2160  # 36 hours :(
  next_tasks:
    - MA-text

MA-scrape-full-lower:
  image: openstates/scrapers
  entrypoint: "poetry run os-update ma bills chamber=lower"
  enabled: true
  environment: scrapers
  triggers:
    - cron: 0 5 * * 2,4,6 # tue,fri,sun
  timeout_minutes: 2880  # 48 hours :(
  next_tasks:
    - MA-text

MA-scrape-full-upper:
  image: openstates/scrapers
  entrypoint: "poetry run os-update ma bills chamber=upper"
  enabled: true
  environment: scrapers
  triggers:
    - cron: 0 5 * * 1,3,5 # mon,wed,thurs
  timeout_minutes: 2160  # 36 hours :(
  next_tasks:
    - MA-text

MA-text:
  image: openstates/core
  entrypoint: "poetry run os-text-extract update ma"
  enabled: true
  environment: scrapers
