ME-scrape:
  image: openstates/scrapers
  entrypoint: "poetry run os-update me bills --realtime"
  enabled: false
  environment: scrapers
  triggers:
    - cron: 19 */4 * * ?
#    - cron: 0 4 * * ?
  timeout_minutes: 360
  next_tasks:
    - ME-text

ME-text:
  image: openstates/core
  entrypoint: "poetry run os-text-extract update me"
  enabled: false
  environment: scrapers

ME-events:
  image: openstates/scrapers
  entrypoint: "poetry run os-update me events"
  enabled: false
  environment: scrapers
  triggers:
    - cron: 20 */6 * * ?
  timeout_minutes: 60
