MN-scrape:
  image: openstates/scrapers
  entrypoint: "poetry run os-update mn bills"
  enabled: true
  environment: scrapers
  triggers:
    - cron: 0 1,8,11,17 * * ?
#    - cron: 0 7 * * ?
  timeout_minutes: 360
  next_tasks:
    - MN-text

MN-text:
  image: openstates/core
  entrypoint: "poetry run os-text-extract update mn"
  enabled: true
  environment: scrapers
