US-scrape:
  image: openstates/scrapers
  entrypoint: "poetry run os-update usa bills votes --realtime"
  enabled: true
  environment: scrapers
  triggers:
    - cron: 0 8 * * ?
  timeout_minutes: 720
  next_tasks:
    - US-text

US-text:
  image: openstates/core
  entrypoint: "poetry run os-text-extract update us"
  enabled: true
  environment: scrapers

US-events:
  image: openstates/scrapers
  entrypoint: "poetry run os-update usa events"
  enabled: true
  environment: scrapers
  triggers:
    - cron: 50 */6 * * ?
  timeout_minutes: 60
